.box {
    overflow:hidden;
}
.box-bajas{
	padding-bottom: 40px;
}
.config-box{
	margin-top: 20px;
}
.trash-icon-bajas{
	color: red;
}
.btn-search-bajas{
	height: 34px !important;
}
.label-search{
	padding-top: 5px;
}
.field-name{
	font-weight: bold;
}
.tipo-baja{
	width: 130px !important;
}
.motivo-baja{
	width: 176px !important;
}
.field-padding{
	padding-top: 5px;
}
.modal-title-bajas{
	color: #3C8DBC;
	font-weight: bold;
}
.user-index {
    padding:10px;
}
#catalogos {
    padding:5px;
}
.panel-body .content {
    padding:0px;
}
.creator_container{
    overflow:hidden;
}
.creator_container .creator{
    color:white;
    float:right;
    margin-right:10px;
    line-height: .528571;
    height: 22px;
}
.opener {
  float: left;
  margin-top: 2px;
}
.buttoneer {
    float:right;
    margin-top:10px;
}
.grid-view .pagination {
    float:right;
    margin-top: -24px;
}
.modal-title-parametros{
    color: #3C8DBC;
    font-weight: bold;
}
.subtitle-parametros{
    background-color: #0F243E;
    color: #fff !important;
}
.clave-empleado-container{
    height: 34px;
    padding-top: 5px;
    text-align: right;
}
#frm-agregar-parametro label.error{
    font-size: 11px;
    margin-top: 5px;
    color: red;
    font-weight: normal;
}
.reporte-elementos-table{
    margin-bottom: 20px;
}
.reporte-clave-empleado-container{
    padding-top: 20px;
}
.subtitle-reportes{
    background-color: #0F243E;
    color: #fff !important;
    margin-bottom: 10px;
}