
form .form-control {
    width: 250px;
}
.right_group {
    float:right;
}
#usuarios-avatar {
    //display:none;
}
#avatar_upload {
    display:none;
}

.left_group {
    float:left;
}
.user-form {
    overflow:hidden;
}
.avatar_container {
    width: 120px;
    height: 160px;
    border:1px dotted gray;
    float:right;
    margin-top: 16px;
}
.avatar_container img{
  max-width: 120px;
  max-height: 160px;
  margin-right:auto;
  margin-left:auto;
  display:block;    
}
.file_container {
  width: 78px;
  margin-top: 5px;
  height: 58px;
  -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
  background-color: #f4f4f4;
  float:right;
  margin-right:20px;
}

.file_container .fotopload {
    padding: 6px 12px;
    margin:0px;
}
.file_label {
    padding-left: 17px;
}

.generar_llave {
  color: #333;
  font-weight: bold;
  display:inline;
    margin-left: 4px;
}
.generar_llave_cont {
    background-color: #e3e3e3;
    margin-top: 80px;
    -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
    width: 120px;
    float:right;
}
.generar_llave_cont i {
  margin-left: 8px;
  color: #333;
}
.botones {
    margin-top:92px;
}
.botones .submit {
    margin-right: 10px;
}

.avatar_group {
    width:150px;
      overflow: hidden;
}
.no_display {
    visibility: hidden;
}
.grid-view .pagination {
    float:right;
    margin-top: -24px;
}