.box-personal{
	padding: 40px 0;
}
.box-body-personal{
	margin-top: 40px;
}
.btn-search-personal{
	height: 34px !important;
}
.input-group-btn{
	vertical-align: top !important;
}
.label-search{
	padding-top: 5px;
}
.help-block{
	position: absolute !important;
	margin-top: 17px !important;
}
#elementos-table{
	margin-bottom: 30px !important;
}
.box-container{
	padding: 20px 0;
}
.box-detalles-personal .row{
	padding: 10px;
	margin-bottom: 20px;
}
.box-buttons-container{
	border-top: 1px #E1E1E1 solid;
}
.box-buttons-container .row{
	padding: 20px 10px 10px;
}
.box-buttons-container button{
	margin-right: 20px;
}
.box-detalles-personal{
	padding-top: 10px;
}
.box-detalles-personal .block-subtitle{
	background-color: #0F243E;
	color: #fff;
	padding-left: 10px;
	margin: 0 -10px;
}
.documentacion-title{
	margin-bottom: 10px;
}
.clear-both{
	clear: both;
}
.nuevo-requerimiento{
	margin-top: 25px;
	display: none;
}
.nuevo-requerimiento label{
	padding-top: 5px;
}
.dataTables_empty{
	text-align: center;
	font-style: italic;
}
.field-cargapdf-file p.help-block{
	position: relative !important;
}
.box-body-personal .box{
	padding: 15px;
}