.box-bajas{
	padding: 40px 0;
}
.box-body-bajas{
	margin-top: 40px;
}
.trash-icon-bajas{
	color: red;
}
.btn-search-bajas{
	height: 34px !important;
}
.label-search{
	padding-top: 5px;
}
.help-block{
	position: absolute !important;
	margin-top: 17px !important;
}
.field-name{
	font-weight: bold;
}
.tipo-baja{
	width: 130px !important;
}
.motivo-baja{
	width: 176px !important;
}
.field-padding{
	padding-top: 5px;
}
.modal-title-bajas{
	color: #3C8DBC;
	font-weight: bold;
}
.calendar-icon{
	position: absolute;
	right: -80px;
	padding-top: 5px !important;
}
.calendar-icon i{
	cursor: pointer;
	padding-top: 5px;
}
.dropdown-extraordinarias{
	display: none;
}
.input-group-btn{
	vertical-align: top !important;
}
.datepicker{
	z-index:1151 !important;
}
.dropdown-ordinarias, .dropdown-extraordinarias{
	width: 180px !important;
}
.modal-footer{
	padding-right: 23px !important;
}
.datos-de-baja-cont{
	margin-bottom: 10px;
}
.observaciones-baja{
	width: 100% !important;
	margin-top: 10px !important;
}
.subtitle-baja{
	background-color: #0F243E;
	color: #fff !important;
}
.error-popup{
	color: #BD6F6D;
	margin-top: 10px;
	margin-left: 12px;
}
#fecha-error, #observaciones-error{
	display: none;
}
#observaciones-error{
	margin-left: 0px;
	margin-top: 5px;
}
#elementos-table{
	margin-bottom: 30px !important;
}
.box-body-bajas .box{
	padding: 15px;
}
.otro-motivo-extraordinario{
	display: none;
}
.otro-motivo-extraordinario input.form-control{
	width: 100%;
}
.otro-motivo-extraordinario label{
	padding-top: 5px;
}
#otro-motivo-error{
	display: none;
}